









.flip-card {
    position: relative;
    left: 20px;
    perspective: 1000px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; 
  }
  
  .flip-card-front {
    background: url('/images/projekt1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  
  .flip-card-back {
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




.projekty{
  top: 60px;
  position: relative;
  margin: 0 200px 0 200px;
  flex-direction: row;
 justify-content: center;
  display: flex;
  gap: 150px;

}


#ob1{
   border-radius: 20px;
  width: 220px;
  
}

#ob2{
 border-radius: 20px;
  width: 300px;
  
}

.motor::before{
  content: 'Toto byl projekt ve photoshopu na práci s osvětlením';
  color: white;
  font-family: Light;
  position: absolute;
  top: 300px;
  width: 220px;
  text-align: center;
}

.bliss::before{
  content: 'Tohle byl projekt ve photoshopu koláž';
  color: white;
  font-family: Light;
  position: absolute;
  top: 220px;
  width: 220px;
  text-align: right;
}

.flip-card::before{
  content: 'Tohle byl skupinový projekt.Byl jsem v něm prográmátor';
  color: white;
  font-family: Light;
  position: absolute;
  top: 220px;
  width: 300px;
  text-align: left;
}
