body{
height: 100vh;
overflow-x:hidden ;
margin: 0;
background-image:url(images/vecteezy_vector-abstract-background-with-soft-gradient-color-and_6849737.jpg);
background-repeat: no-repeat;
}

.textdiv1{
max-width: 50rem;
margin-inline: auto;
padding-inline: 1rem;
top: 80px;
position: relative;
}

.title1{
font-size: 50px;
text-align: center;
font-family: svist;
}

.text1{
font-size: medium;
font-family: svist;
text-align: center;
top: -20px;
position: relative;

}


html{
scroll-behavior: smooth;
color-scheme: dark light;
}

@font-face {
    font-family:svist ;
    src: url(/Lexend-Regular.ttf);
}


.seal15{
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
}

.seal15 img:hover{
    transform: scale(1.1);
    
    
 }



 .seal15 img{
    border-radius: 20px;
    width: 200px;
    transition: 0.7s;
    
    }
    

        








